.login {
    background-color: antiquewhite;
    text-align: center;
   width: 400px;
   margin: 300px;
}
#idd {
    background-color:rgb(28, 230, 21);
    text-align: center;

}
#color{
    color: rgb(89, 0, 255);
}